h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_e4bf9ac a { text-decoration: none; }
#menu_e4bf9ac_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_e4bf9ac_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_e4bf9ac_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_e4bf9ac_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_e4bf9ac_entry:hover span { color:#FFFFFF !important; }
		.menu_e4bf9ac_mainMenuEntry { text-align: center; }
		.menu_e4bf9ac_mainMenuEntry:hover {	background-color:#282828; }
		.menu_e4bf9ac_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_e4bf9ac .mobileEntry { display: none; } 
		#menu_e4bf9ac .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_e4bf9ac .mobileEntry { display: block; } 
			#menu_e4bf9ac .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#menu_e4bf9ac { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:103px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:61px; height:38px; left:113px;  }
.menustyle4 { position:absolute; width:57px; height:38px; left:174px;  }
#container_25ee779 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:227px; background-color:#FFFFFF; background-image: url(rc_images/cybersecurity_wallpaper.png); background-position:top left; background-size:cover;  }
#container_25ee779_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:left; }
#container_798910f0 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:53%; min-height:78px; max-width:800px; background:none; border: 1px solid #404040;  }
#container_798910f0_padding { margin: 10px; display: block;  }
#heading_30174d59 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#heading_49ec4bae { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  }
#container_1fce3f8f { vertical-align: top; position:relative; display: inline-block; width:47%; min-height:231px; background:none;  }
#container_1fce3f8f_padding { margin: 10px; display: block;  }
#img_540f65a5 { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:200px; max-width:250px; background:none; height:auto;  }
