h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_5d6e8fc5 a { text-decoration: none; }
#menu_5d6e8fc5_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5d6e8fc5_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_5d6e8fc5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_5d6e8fc5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5d6e8fc5_entry:hover span { color:#FFFFFF !important; }
		.menu_5d6e8fc5_mainMenuEntry { text-align: center; }
		.menu_5d6e8fc5_mainMenuEntry:hover {	background-color:#282828; }
		.menu_5d6e8fc5_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5d6e8fc5 .mobileEntry { display: none; } 
		#menu_5d6e8fc5 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_5d6e8fc5 .mobileEntry { display: block; } 
			#menu_5d6e8fc5 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#menu_5d6e8fc5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:103px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:61px; height:38px; left:113px;  }
.menustyle4 { position:absolute; width:57px; height:38px; left:174px;  }
.textstyle4 { text-align:left; }
#container_3af796a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:53px; background-color:#0080FF;  }
#container_3af796a8_padding { margin: 10px; display: block;  }
#button_37cf11ab { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:67px; height:40px; background-color:#FD1717; background: linear-gradient(to bottom,#FD1717, #710A0A 50%, #580808 50%, #3F0505); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#heading_33e818a { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_696dd514 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0080FF;  }
#container_696dd514_padding { margin: 10px; display: block;  }
#container_46b0c69c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_46b0c69c_padding { margin: 10px; display: block;  }
#heading_7b66f638 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
